html, body{
	width:100%;
	height: 100%;

}



a{
	text-decoration: none;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
}


.page-wrapper{
	width: 100%;
	height: 100%;

}


.nav-wrap{
    display: flex;
    flex-basis:100%;
    height: 6.981132075%;
    align-content: space-around;

   }

.nav-block{
	 flex-basis:100%;
   	 height: 100%;
   	 background-color: #373C3F ;
   	 color: white;
   	 align-items: center;
   	 justify-content: center;

   }

   .big-nav{
   	display: none;
   }

   .nav-block p {
   	margin-top: 5%;
   	margin-left: 7%;
   }

.burger{
	display: flex;
	justify-content:center;
	flex-basis: 12.8125%;
	height: 100%;
	color: white;
	background-color: #202529;

}

.burger-symbol{
	color: white;
	align-self:center;
	/*position: absolute;
	left: 92%;
	top: 1%;*/


}

.blue-box{
	display: flex;
	flex-direction:column;
	justify-content:center;
	flex-basis: 100%;
	height: 235px;
	background-color: #1FA4B8;
}

.blue-box-text {
	flex-basis: 35%;
	color: white;
	font-size: 1.8em;

}

.blue-box-text h3{
	width:69%;
	padding-left: 7%;

}
		
.blue-box-link {
	display: flex;
	padding-left: 7.5%;
	padding-top: 5%;

	color: white;
	
}

.blue-pic{
	display: flex;
	align-self:flex-end;
	/*width: 14px;*/
	height: 19px;
	margin-right: 31%;
	margin-top: -16px;

}

.black-pink-wrap{
	display: flex;
	flex-direction:row;
	width: 100%;
		height: 13.96226415%;
}

.bridge{
	background: url("../img/bridge.png") no-repeat;
	background-size:cover;
	width: 100%;
	height: 45.679463%;
}

.black-box{
	display: flex;
	justify-content:space-around;
	width: 78.125%;
	height: 100%;
	background-color: #27212C;

}

.black-box-text{
	display: flex;     
	align-self:center;
	color: white;
	color: #9E8FAD;

}

.pink{
	display: flex;
	justify-content:center;
	align-items:center;      
	width: 21.875%;
	height: 100%;
	background-color: #BA3582;

}

.pink img{
	display: flex;
	align-items:center;
	width: 8px;
	height: 13px;
		
}

.mid-wrap{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 832px;

}

.purple-box{
	display: flex;
	width: 100%;
	height: 275px;
	background-color: #5A1C9E;
	justify-content:center;

}

.purple-pic{
	display: flex;
	align-self:center;
	width: 20px;
	height: 20px;
		
}

.girl {
	background:url("../img/girl.png") no-repeat;
	background-size:cover;
	width: 100%;
	height: 45.679463%;
}

.last-box{
	height: 446px;
	background-color: #EBEBEB;
    text-align: center;
    width: 100%;
    line-height: 1.5;
}

.last-box h2{
	color: #198CA3;
	font-size: 2em;
	

}

.hide{
	display: none;
}

.text-container{
	width: 90%;
    margin: 0 auto;

}


	@media screen and (min-width: 640px){

		.page-wrapper{
			width: 100%;
			height: 100%;


		}

		.big-nav{
			display: none;
		}

		

		.nav-wrap{
			display: flex;
			height: 8.260869565%;
			
		}

		.nav-block p{
			font-size: 1.4em;
    		margin-top: 3%;
			

		}

		.blue-box{
			display: flex;
			align-items:center;
			width: 100%;
			height: 60.956522%;
  
		}

		.blue-box-link{
		display: flex;
		width: 94%;
		color: white;

	    }

		.blue-pic{
			display: flex;
			align-items:center;
			width: 15px;
			height: 15px;
			
		}

		.blue-box-text{
			width: 79%;
    		margin-right: 16%;
    		line-height: 1.5;
			color: white;
		}

		.black-pink-wrap{
			display: flex;
			flex-direction:row;
			width: 100%;
			height: 16.41304348%;
		}

		.blue-box-link{
			  width: 92%;
   			 color: white;
   			 margin-top: -3%;
		}

		.pink img{
			display: flex;
			align-self:center;
			justify-content:center;
			width: 16px;
			height: 25px;

			
		}

			.mid-wrap{
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 200%;

		}


			.black-box h5{
				display: flex;
				color: white;
				color: #9E8FAD;
				font-size: 1.4em;
		}

			.purple-box{
				width: 100%;
				height: 59.7826087%;
		}

			.purple-box img{
				width: 30px;
				height: 30px;
				
		}

			.bridge {

				width: 100%;
				height: 59.7826087%;
		}

			.girl img{
				width: 100%;
				height: 59.7826087%;
		}

		.hide{
			display: block;
		}

		.text-container{
			column-count: 2;
		}
	
	
}

	



@media screen and (min-width: 980px){
	.page-wrapper{
	width: 100%;
	height: 100%;

}
.nav-wrap{
       display: flex;
       width: 100%;
       height: 9.09213051823%;
       align-content: space-around;

   }

.nav-block{
       display: flex;
       width: 100%;
       height: 100%;
       background-color: #373C3F ;
       color: white;
       align-items: center;
       justify-content: center;

   }
   .nav-block p {
   	display: none;
   }

   .big-nav{
       display: flex;
    width: 92%;
    color: white;
    flex-direction: row;
    justify-content: flex-end;

   }

   .big-nav a {
   	color: white;
   	float: right;
   	margin: 10px;
   }
	.burger{
		display: none;
		width: 12.8125%;
		height: 100%;
		background-color: #202529;
	}


	.blue-box{
		display: flex;
		flex-basis: 100%;
		height: 63.04347826%;
		background-color: #1FA4B8;
	}

	.blue-box-text {
		flex-basis: 95%;
		display: flex;
		justify-content: center;
		color: white;
		font-size: 2.6em;
		margin-top: 12%;

	}
		
	

	.blue-box-link{
		width: 94%;
		color: white;
    	padding-left: 38%;

	}

	.blue-pic{
		width: 14px;
		height: 19px;
		margin-bottom: 15%;

	}

	.black-pink-wrap{
		display: flex;
		flex-direction:row;
		width: 100%;
		height: 22.36084453%;
	}

	.black-box{
		display: flex;
		justify-content:space-around;
		width: 78.125%;
		height: 100%;
		background-color: #27212C;

	}

	.black-box-text{
		display: flex;     
		align-self:center;
		color: white;
		color: #9E8FAD;
		font-size: 1.3em
	}

	.pink{
		display: flex;
		justify-content:center;
		align-items:center;      
		width: 21.875%;
		height: 100%;
		background-color: #BA3582;

	}


	.mid-wrap{
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
		height: 50%;

	}

	.purple-box{
		display: flex;
		width: 33.33%;
		height: 100%;
		background-color: #5A1C9E;
		justify-content:center;

	}

	.purple-pic{
		display: flex;
		align-self:center;
		width: 20px;
		height: 20px;

		
	}

	.bridge {
		background-image: url("../img/bridge.png");
		width: 33.33%;
		height: 100%;
		
	}

	.girl  {
		width: 33.3%;
		height: 100%;
	}

	.text-container{
		column-count: 3;
	}

	h3{
		font-size: 1.2em;
	}

	

}

@media screen and (min-width: 1024px){
	.page-wrapper{
	width: 100%;
	height: 100%;

}
.nav-wrap{
       display: flex;
       width: 100%;
       height: 97px;
       align-content: space-around;

   }

.nav-block{
       display: flex;
       width: 100%;
       height: 100%;
       background-color: #373C3F ;
       color: white;
       align-items: center;
       justify-content: center;

   }
   .nav-block p {
   	display: none;
       width:95%;
       align-self: center;
   }
	.burger{
		width: 12.8125%;
		height: 100%;
		background-color: #202529;

	}



	.blue-box{
		width: 100%;
		height: 578px;
		background-color: #1FA4B8;
	}

	.blue-box-text {
		width: 95%;
		display: flex;
		color: white;
		font-size: 1.8em;
		justify-content: center;

	}

	.blue-box-text h3 {
    width: 43%;
    padding-left: 7%;
    font-size: 1.7em;
}

		
	

	.blue-box-link{
		display: flex;
		justify-content:space-between;
		width: 94%;
		color: white;
	}

	.blue-box-link h5{
		margin-top: 6%;
		margin-left: 4%;
	}

	.blue-pic{
		display: flex;
		justify-content:space-around;
		width: 14px;
		height: 19px;

	}


	.black-pink-wrap{
		display: flex;
		flex-direction:row;
		width: 100%;
		height: 245px;
	}

	.black-box{
		display: flex;
		justify-content:space-around;
		width: 78.125%;
		height: 100%;
		background-color: #27212C;

	}

	.black-box-text{
		display: flex;     
		align-self:center;
		color: white;
		color: #9E8FAD;
		font-size: 1.3em
	}

	.pink{
		display: flex;
		justify-content:center;
		align-items:center;      
		width: 21.875%;
		height: 100%;
		background-color: #BA3582;

	}

	.pink img{
		display: flex;
		align-items:center;
		width: 8px;
		height: 13px;
		
	}

	.mid-wrap{
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 56.071429%;

	}

	.purple-box{
		display: flex;
		width: 33.33333%;
		height: 100%;
		background-color: #5A1C9E;
		justify-content:center;

	}

	.purple-pic{
		display: flex;
		align-self:center;
		width: 20px;
		height: 20px;
		
	}

	.bridge{
		width: 33.33333%;
		height: 100%;
	}

	.girl{
		width: 33.33333%;
		height: 100%;
	}




	.text-container {
		column-count: 4;
		
}

}













